<div id="<%= dom_id relation %>">
  <p>
    <strong>Main card:</strong>
    <%= relation.main_card_id %>
  </p>

  <p>
    <strong>Sub card:</strong>
    <%= relation.sub_card_id %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= relation.point %>
  </p>

</div>
